# Ignore everything in the root
/*
/vaws/*
/aws/log
/app/.env
/.pytest_cache/
/.coverage
/__pycache__/
/app/__pycache__/
/app/tests/__pycache__/
/app/main/__pycache__/
.coverage
/migrations/
/app/schemas/*
# Un-ignore these files - it's bit of a clonky way to do it but it's more secure
!app/
!Dockerfile
!docker-compose.yml
!aws.py
!requirements.txt
!app/__init__.py
!app/config.py
!app/decorators.py
!app/extensions.py
!README.md
!app/models.py
!app/errors.py
!app/assertions.py
!app/main/__init__.py
!app/main/views.py
!app/main/create_user.py
!app/main/standardpolicy.txt
!app/tests/test_api.py
!app/tests/.coveragerc
!app/tests/__init__.py
!scripts/generate_test_badge.py
!app/.env.example
!.github/workflows/api-test.yml
!.github/workflows/codeql-analysis.yml
!manage.py
!app/schemas/urls.json
!app/schemas/uuid.json
!.gitignore
!pytest.ini
